<div class="row">
  <div class="col-md-8" >
      <% @posts.each do |post| %>
        <div class="row post-content">
          <div class="container-fluid">
            <div class="col-md-9">
              <div class="container-fluid">
                <h2><%= link_to post.title, post %></h2>
                <p> By <em><%=  post.user.email %></em> at <em><%=  post.created_at %></em> 
                <% if current_user == post.user %>
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>   
                </p>           
                <p><%= truncate post.body, length: 350 %></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="container-fluid" id="post-image">
                  <%= image_tag post.image.url ,class:"img img-responsive" %>
                </div>
              </div>  
            </div>
          </div>
        </div>
      <% end %>
      <%= will_paginate @posts %>
  </div>
  <div class="col-md-4">
    <!-- recent section -->
  </div>    
</div>
